.catContainer {
  position: relative;
  width: 14rem;
  height: 14rem;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
}

.catImg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;
}

.containerIconsFav {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: none;
  left: 72%;
  top: 72%;
  background-color: transparent;
  cursor: pointer;
}
.iconFavoriteBorder,
.iconFavorite {
  display: none;
}

.catContainer:hover .iconFavoriteBorder {
  display: block;
}

.containerIconsFav:hover .iconFavoriteBorder {
  display: none;
}
.containerIconsFav:hover .iconFavorite {
  display: block;
}

.active {
  display: block;
}
.borderActive,
.catContainer:hover .borderActive {
  display: none;
}
