.catContainer {
  position: relative;
  width: 14rem;
  height: 14rem;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

@media (max-width: 1350px) {
  .catContainer {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 880px) {
  .catContainer {
    width: 17rem;
    height: 17rem;
  }
}

@media screen and (max-width: 700px) {
  .catContainer {
    width: 21rem;
    height: 21rem;
  }
}

@media screen and (max-width: 550px) {
  .catContainer {
    width: 18rem;
    height: 18rem;
  }
}

@media screen and (max-width: 430px) {
  .catContainer {
    width: 18rem;
    height: 18rem;
  }
}

.catImg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;
}

.containerIconsFav {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: none;
  left: 72%;
  top: 72%;
  background-color: transparent;
  cursor: pointer;
}

.iconFavoriteBorder,
.iconFavorite {
  display: none;
}

.catContainer:hover .iconFavoriteBorder {
  display: block;
}

.containerIconsFav:hover .iconFavoriteBorder {
  display: none;
}
.containerIconsFav:hover .iconFavorite {
  display: block;
}

.active {
  display: block;
}

.borderActive,
.catContainer:hover .borderActive {
  display: none;
}

.containerIconsFav:active .iconFavorite {
  width: 102%;
}

@media (max-width: 1350px) {
  .catContainer {
    width: 15rem;
    height: 15rem;
  }
}

.isTouch {
  display: block;
}

@media (max-width: 880px) {
  .catContainer {
    width: 17rem;
    height: 17rem;
  }
}

@media screen and (max-width: 700px) {
  .catContainer {
    width: 21rem;
    height: 21rem;
  }
}

@media screen and (max-width: 550px) {
  .catContainer {
    width: 18rem;
    height: 18rem;
  }
}

@media screen and (max-width: 430px) {
  .catContainer {
    width: 18rem;
    height: 18rem;
  }

  .containerIconsFav {
    left: 68%;
    top: 78%;
  }
}

.containerIconsFav:active,
.containerIconsFav:focus {
  outline-color: transparent;
}

.containerIconsFav:active {
  -webkit-tap-highlight-color: transparent;
}
