.catContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
}

.catImg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* height: auto; */
  padding: 0 0;
  margin: 0 0;
}

.containerIconsFav {
  position: absolute;
  width: 24%;
  height: 30%;
  border: none;
  left: 78%;
  top: 70%;
  background-color: transparent;
  cursor: pointer;
}
.iconFavoriteBorder,
.iconFavorite {
  display: none;
}

.catContainer:hover .iconFavoriteBorder {
  display: block;
}

.containerIconsFav:hover .iconFavoriteBorder {
  display: none;
}
.containerIconsFav:hover .iconFavorite {
  display: block;
}

/* .containerIconsFav:focus .iconFavoriteBorder {
  display: block;
} */

.active {
  display: block;
}
.borderActive,
.catContainer:hover .borderActive {
  display: none;
}
