.header {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.mainNavigation {
  width: 100vw;
  max-width: 1440px;
  background-color: #2196f3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 5rem;
}

.mainNavigation li {
  flex-basis: 13%;
}

.headerLink {
  position: relative;
  left: 36%;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 16% 8% 0 12%;
  min-height: 5rem;
}

/* Смотри общие стили */
/* .active {
  display: inline-block;
  background-color: #1e88e5;
  color: white;
  height: inherit;
} */

@media (max-width: 990px) {
  .mainNavigation li {
    flex-basis: 30%;
  }

  .headerLink {
    left: 1%;
    padding: 10% 20% 0 30%;
  }
}

@media (max-width: 770px) {
  .mainNavigation li {
    flex-basis: 49%;

    font-size: 1.2rem;
  }

  .headerLink {
    left: 1%;
    padding: 10% 15% 0 25%;
  }
}
