@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

#app {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
  padding: 0;
}

.catsList {
  position: relative;
  padding: 48px 48px 48px 48px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 47px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 47px;
  place-items: center;
}

.catItem {
  overflow: hidden;
  padding: 0 0;
  transition: transform 0.3s ease;
}

/* ЭТО класс из компонента HEADER. Он работает благодаря компоненту NavLink из react-router-dom!!!!!!Хочу его перенести в локальные стили */
.active {
  background-color: #1e88e5;
  color: white;
  height: 100%;
  width: 100%;
}

.downloadMore {
  margin: 0 auto;
  width: 17%;
  animation: changeColor 1.2s infinite;
}

.loader {
  display: block;
  position: relative;
  margin: auto auto;
  margin-top: 10%;
  width: 6rem;
}

.noCats {
  font-size: 6rem;
  margin-left: 5%;
  margin-top: 5%;
  position: relative;
  width: 100%;
  opacity: 86%;
}

@keyframes changeColor {
  0% {
    opacity: 2%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 1350px) {
  .catsList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1130px) {
  .catsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 880px) {
  .catsList {
    grid-template-columns: repeat(2, 1fr);
  }

  .downloadMore {
    /* margin: 0 auto; */
    width: 50%;
    padding-left: 10%;
    /* animation: changeColor 1.2s infinite; */
  }
}

@media (min-width: 880px) {
  .catItem:hover {
    transform: scale(1.14);
    box-shadow: 0.01rem 0.4rem 1rem rgba(34, 60, 80, 0.7);
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 22px;
  }

  .catsList {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 27px;
    column-gap: 27px;
    padding: 28px 0px 28px 2px;
  }

  .downloadMore {
    /* margin: 0 auto; */
    width: 60%;
    padding-left: 10%;
    /* animation: changeColor 1.2s infinite; */
  }

  /* .catItem:hover:none {
    transform: scale(1.14);
    box-shadow: 0.01rem 0.4rem 1rem rgba(34, 60, 80, 0.7);
  } */
}

/* @media (hover: none) {
} */

@media screen and (max-width: 430px) {
  .catsList {
    padding: 32px 0px 0px 2px;
  }

  .downloadMore {
    /* margin: 0 auto; */
    width: 100%;
    padding-left: 10%;
    /* animation: changeColor 1.2s infinite; */
  }
}
